.flexbox {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 25px;
  background-position: center;
  margin: 25px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.me-5 {
  background-image: url("https://images.unsplash.com/photo-1616441064900-e0adeacda4f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI4fHxjcmVhdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: bottom;
  width: 75%;
  margin-top: -25px;
  margin-left: -48px;
  margin-bottom: -25px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.c-button {
  border-radius: 10px;
  color: white;
}

.me-5 h1 {
  color: #fbfbfb;
  margin-left: 11px;
  margin-top: 5px;
}

.form-background {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
