<div class="home">
  <div class="search">
    <h1>Build the city you always dreamed of.</h1>
    <h2><span data-controller="typed-js"></span></h2>
        <%= form_with url: projects_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag(:query, "", class: "form-control", placeholder: "Enter your City")
        %>
        <%= submit_tag "Search", class: "btn btn-primary home-btn" %>
      <% end %>
  </div>
</div>
<div class="homepage-content">
  <div class="container">
    <div class="text1">
      <h3>Cities are no longer hunman centered, ideas are needed to create better cities.</h3>
    </div>

    <div class="text2-flex">
      <div class="text2">
        <h2>01</h2>
        <h3>title</h3>
        <p>text goes here</p>
      </div>
      <div class="text2">
        <h2>02</h2>
        <h3>title</h3>
        <p>text goes here</p>
      </div>
      <div class="text2">
        <h2>03</h2>
        <h3>title</h3>
        <p>text goes here</p>
      </div>
      <div class="text2">
        <h2>04</h2>
        <h3>title</h3>
        <p>text goes here</p>
      </div>
    </div>

    <div class="img-flex">
      <div class="img">
        <img src="https://images.unsplash.com/photo-1630746823368-57b1175214ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1293&q=80" alt="">
      </div>
      <div class="img">
        <img src="https://images.unsplash.com/photo-1563574946240-66e825887329?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1266&q=80" alt="">
      </div>
      <div class="img">
        <img src="https://images.unsplash.com/photo-1594058573823-d8edf1ad3380?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1362&q=80" alt="">
      </div>
      <div class="img">
        <img src="https://images.unsplash.com/photo-1504810935423-dbbe9a698963?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80" alt="">
      </div>
    </div>
    
  </div>
</div>
