<div class="home">
  <div class="search">
    <h1><span data-controller="typed-js"></span></h1>
    <h2>Your.Town</h2>
        <%= form_with url: projects_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag(:query, "", class: "form-control", placeholder: "Enter your City")
        %>
        <%= submit_tag "Search", class: "btn btn-primary home-btn" %>
      <% end %>
  </div>
</div>
<div class="container">
  <h2 class="animate__animated animate__fadeInLeft">new content</h2>
</div>
