<% content_for :meta_title, "#{@project.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @project.description %>

<div class="container">

  <div class="pill-bar">
    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Details</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-chatroom-tab" data-bs-toggle="pill" data-bs-target="#pills-chatroom" type="button" role="tab" aria-controls="pills-chatroom" aria-selected="false">Chatroom</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-whiteboard-tab" data-bs-toggle="pill" data-bs-target="#pills-whiteboard" type="button" role="tab" aria-controls="pills-whiteboard" aria-selected="false">Whiteboard</button>
      </li>
    </ul>
  </div>

  <div class="formcardshow">
    <div class="tab-content" id="pills-tabContent">
      <%= render "details", project: @project %>
      <%= render "chatroom", project: @project %>
      <%= render "miro" %>
    </div>
  </div>
</div>
