.btn {
  border: none;
  background: rgb(105, 255, 180);
}

.btn-uno-home:active {
  background-color: rgb(105, 255, 180);
}


.btn-remove {
  text-decoration: none;
  color: grey;
}

.btn-uno {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: large;
  background: #3f9;
  transition: background 0.3s ease;
}

.btn-uno-wide {
  color: black;
  width: 100%;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: large;
  background: #3f9;
  transition: background 0.3s ease;
}

.btn-uno-chat {
  color: black;
  padding: 8px 24px;
  border-radius: 0px 4px 4px 0px;
  display: inline-block;
  border-color: transparent;
  font-size: large;
  background: #3f9;
  transition: background 0.3s ease;
}

.btn-uno-home {
  color: black;
  padding: 8px 24px;
  border-radius: 0px 4px 4px 0px;
  font-size: large;
  background: #3f9;
  transition: background 0.3s ease;
}

.btn-uno-home:active {
  background: rgb(105, 255, 180);
  color: black;
}

.btn-uno-:active {
  background: rgb(105, 255, 180);
  color: black;
}

.btn-uno:hover {
  background: rgb(105, 255, 180);
  color: black;
}

.btn-uno-wide:hover {
  background: rgb(105, 255, 180);
  color: black;
}

.btn-uno-chat:hover {
  background: rgb(105, 255, 180);
  color: black;
}

.btn-uno-home:hover {
  background: rgb(105, 255, 180);
  color: black;
}

.round-left-side {
  border-radius: 16px 0px 0px 16px;
}

.round-right-side {
  border-radius: 0px 16px 16px 0px;
}
