.mapboxgl-popup {
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 400px;

  a {
    text-decoration: none;
    color: black;
  }
}
