.mapboxgl-popup {
  max-width: fit-content !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 400px;

  a {
    text-decoration: none;
    color: black;
  }
}

