.mapboxgl-popup {
  max-width: fit-content !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "source sans pro";
  width: 400px;
  height: 100%;
  border-radius: 4px;
  padding: 0px;
  text-decoration: none;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    // top: -4px;
    // border: 1px solid #cccccc;
    color: black;
    transform: scale(1.075);
  }

  h2 {
    margin-top: 18px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  .address-p  {
    padding-top: 10px;
  }

  .thumbs-info-page {
    padding-bottom: 5px;
  }
}
