.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 500px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: rgb(105, 255, 180);
}

.receiver-style {
  background-color: #dddddd;
}

.message-avatar {
  position:relative;
  border: 0px;
  height: 35px;
  width: 35px;
}

.message {
  display: flex;
}

p {
  word-break: break-all;
}

.text-end {
  position: relative;
  bottom: -40px;
  color: black;
  font-size: 14px;
}
